<!-- Login 13 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 vh-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-5">
          <div class="card border border-light-subtle rounded-3 shadow-sm">
            <div class="card-body p-3 p-md-4 p-xl-5">
              
              <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Veuillez changer votre mot de passe pour accéder à votre espace personnel.</h2>
              <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="row gy-2 overflow-hidden">
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="email" formControlName="email"  [ngClass]="{'is-invalid': changePasswordForm.get('email')?.invalid && changePasswordForm.get('email')?.touched}" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                      <label for="email" class="form-label">Email</label>
                      <div *ngIf="changePasswordForm.get('email')?.invalid && changePasswordForm.get('email')?.touched" class="invalid-feedback">
                        Ce champ est requis .
                    </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" formControlName="current_password"  [ngClass]="{'is-invalid': changePasswordForm.get('current_password')?.invalid && changePasswordForm.get('current_password')?.touched}" class="form-control" name="current_password" id="current_password" value="" placeholder="Password" required>
                      <label for="password" class="form-label">Ancien mot de passe</label>
                      <div *ngIf="changePasswordForm.get('current_password')?.invalid && changePasswordForm.get('current_password')?.touched" class="invalid-feedback">
                        Ce champ est requis .
                    </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" formControlName="new_password"  [ngClass]="{'is-invalid': changePasswordForm.get('new_password')?.invalid && changePasswordForm.get('new_password')?.touched}" class="form-control" name="new_password" id="new_password" value="" placeholder="Password" required>
                      <label for="password" class="form-label">Nouveau mot de passe</label>
                      <div *ngIf="changePasswordForm.get('new_password')?.invalid && changePasswordForm.get('new_password')?.touched" class="invalid-feedback">
                        Ce champ est requis .
                    </div>
                    </div>
                  </div>
                 
                  <div class="col-12">
                    <div class="d-grid my-3">
                      <button class="btn btn-primary btn-lg py-3 ps-2" 
                      [disabled]="changePasswordForm.invalid || isLoading" 
                      type="submit">
                      <ng-container *ngIf="!isLoading; else loadingTpl">
                        Modifier
                      </ng-container>
                      <ng-template #loadingTpl>
                        <i class="spinner-border spinner-border-sm me-2"></i>
                        Modification en cours...
                      </ng-template>
                    </button>
                    </div>
                  </div>
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </section>