
<main class="main d-flex">
  <!-- Sidebar, visible only if authenticated -->
  <nav *ngIf="authService.isAuthenticated()" class="d-none d-lg-block">
    <div class="d-flex flex-column flex-shrink-0 bg-body-secondary h-100" style="width: 285px; position: fixed; overflow-y: scroll;">
      <div class="w-100 sticky-top bg-body-secondary p-2">
        <a class="d-flex justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="/logo.jpg" alt="Logo" width="80" height="80" class="img-fluid rounded-circle border mx-2" style="object-fit: cover;" />
          <small class="text-muted mt-3">Scan QR-OCD pour identification rapide et fiable.</small>
        </a>
        <hr>
      </div>

      <app-menu></app-menu>
    </div>
  </nav>

  <div class="d-flex flex-column w-100" *ngIf="authService.isAuthenticated()" style="margin-left: 285px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm rounded-3 p-2 mb-3 sticky-top">
      <div class="container-fluid">
        <div class="d-flex justify-content-between w-100 align-items-center">
          <!-- Centre dropdown section -->
          <div class="d-flex align-items-center">
            <div class="d-flex d-lg-none mt-0" style="top: -5px;">
              <a class="btn shadow-none border-0" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                <i class="bx bx-menu fs-1"></i>
              </a>
            </div>
          </div>

           <!-- Right section (Profile and logout) -->
           <div class="d-flex align-items-center">
            <div class="dropdown">
              <!-- Avatar, showing default photo if not available -->
              <img [src]="userInfo.avatarUrl" alt="Profil" class="rounded-circle img-fluid img-thumbnail profile-img"
                data-bs-toggle="dropdown" aria-expanded="false" />
              <ul class="dropdown-menu dropdown-menu-end border-0 p-0">
                <li>
                  <button class="dropdown-item text-danger" (click)="logout()">
                    <i class="fa-solid fa-power-off"></i> Déconnexion
                  </button>
                </li>
                <li>
                  <button routerLink="/admin/profile" class="dropdown-item text-success">
                    <i class="fa-solid fa-address-card"></i> Profil
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Offcanvas menu for small screens, visible only when authenticated -->
    <div *ngIf="authService.isAuthenticated()" class="offcanvas offcanvas-start d-lg-none" data-bs-scroll="true"
      tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">UFI Payment</h5>
        <button type="button" class="btn-close shadow-none border-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <hr>
      <div class="offcanvas-body">
        <app-menu (closeOffCanvas)="closeOffCanvas()"></app-menu>
      </div>
    </div>

    <!-- Button to toggle offcanvas menu (only visible on small screens) -->

    <!-- Main router outlet for displaying content -->
    <div class="mt-4 mx-1 mx-lg-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
