/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
 font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; Prevent horizontal scrolling */
}
.badge {
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
  }

  
.badge-success {
  background-color: #28a745;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
}

.badge-danger {
  background-color: #dc3545;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
}
.badge-warning {
    background-color: #ffc107;
    color: #212529;
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
  }
  
  .badge-dark {
    background-color: #343a40;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
  }
  
  .badge-primary {
    background-color: #007bff;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
  }

  .badge-blocked {
    background-color: #1F4283;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
  }
  
.badge-info {
  background-color: #17a2b8;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 11px;
}
li a{
    cursor: pointer;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  .profile-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: cover;
  }

 input[type="date"] {
  cursor: pointer;
 }

.btn-contact{
  border-radius: 100px !important;
}
/* Général - Appliquer une ombre douce */
.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titre du site */
.navbar-brand {
  font-size: 1.6rem;
  font-weight: 700;
  color: #1f4283 !important; /* Bleu personnalisé */
}

/* Liens de menu */
.navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #1f4283; /* Bleu personnalisé */
}


.btn-outline-primary {
  border: 1px solid #1f4283;
  color: #1f4283;
  background-color: transparent;
}

.btn-outline-primary:hover {
  background-color: #1f4283;
  color: #fff;
}

.btn-primary {
  background-color: #1f4283;
  border: none;
}

.btn-primary:hover {
  background-color: #163362;
}

/* Mobile - Centrage des éléments */
@media (max-width: 991.98px) {
  .navbar-collapse {
    justify-content: center !important;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .d-flex {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
}

.form-shadow {
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
              0 6px 20px rgba(0, 0, 0, 0.19);
  background-color: #f9f9f9;
  border-radius: 8px;
}
.text-title{
  color: #163362;
  font-size: 25px;
  text-transform: uppercase;
}

@media (max-width: 896px) {
  .text-title{
    font-size: 20px;
  }
  
}
.navbar-tall {
  height: 100px; /* ou 120px, selon ton besoin */
  padding-top: 20px;
  padding-bottom: 20px;
}
.selected-list .c-btn {
  width: 100%;
  padding:5px 10px;
  cursor: pointer;
  display: flex;
  position: relative;
  min-height: 55px;
  appearance: none;
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}



.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
  }
  .card-columns .card {
      display: inline-block;
      width: 100%;
  }
}
.text-muted {
  color: #9faecb !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}
.wrap[_ngcontent-ng-c1857249126] .ng-phone-number-input-modal-wrap[_ngcontent-ng-c1857249126] {
  position: absolute;
  background-color: #fff;
  top: 55px;
  left: 0;
  border-radius:4px;
  padding:6px;
  z-index: 100;
  width: 100%;
}
.flex[_ngcontent-ng-c1857249126] {
  display: flex;
  cursor: pointer;
}
.btn-xs {
  padding: 0.25rem 0.5rem;
  font-size: 12px;
  line-height: 1.5;
 font-family: 'Rubik', sans-serif;
}

.invalid-message{
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
select option{
  font-size: 12px;
}
.form-control-lg {
  min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 2));
  padding:.5rem 1rem;
  font-size: 16px;
  border-radius: var(--bs-border-radius-lg);
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: var(--bs-form-invalid-border-color);
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.is-invalid {
  border-color: red;
}

.mt-navbar-space {
  margin-top: 350px; /* ajuste selon la hauteur de ta navbar */
  padding-top: 350px;
}


.social-radio {
    border: 2px solid transparent;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    padding: 5px;
    cursor: pointer;
  }

  /* Styles spécifiques à chaque réseau */
  input#instagram:checked + label > img {
    border-color: #E4405F; /* Instagram pink */
  }

  input#tiktok:checked + label > img {
    border-color: #ff0050; /* TikTok pink */
  }

  input#twitter:checked + label > img {
    border-color: #0077B5; /* WhatsApp green */
  }

  input#onlyFans:checked + label > img {
    border-color: #0077B5; /* LinkedIn blue */
  }
  input#facebook:checked + label > img {
    border-color: #0077B5; /* LinkedIn blue */
  }

.title_1{
  color: #1F4283;
}